@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: rgb(203, 202, 202);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 20px 10px rgb(147, 116, 147);
}

navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}


navigation a{
  display: inline-block;
}
